<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SQLUtils.SettingsDataBase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SQLUtils.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SQLUtils.SettingsDataBase>
            <setting name="DBString" serializeAs="String">
                <value>MySql</value>
            </setting>
            <setting name="OleConnectionString" serializeAs="String">
                <value>db.mdb</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=127.0.0.1;Port=3306;Stmt=;Database=picture; User=root;Password=root;</value>
            </setting>
        </SQLUtils.SettingsDataBase>
        <SQLUtils.Settings1>
            <setting name="DBString" serializeAs="String">
                <value>OleDb_Access</value>
            </setting>
            <setting name="OleConnectionString" serializeAs="String">
                <value>db.mdb</value>
            </setting>
        </SQLUtils.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
