<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ConSever" type="GridBackGround.Config.SocketServerConfig,GridBackGround"/>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GridBackGround.Config.SettingsForm" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="GridBackGround.SettingsForm" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <ConSever>
    <!--端口号-->
      <server name="binary" port="10024"/>
    <!--</servers>-->
  </ConSever>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <GridBackGround.Config.SettingsForm>
      <setting name="DisPackNum" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DisReportNum" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ComMode" serializeAs="String">
        <value>Socket</value>
      </setting>
      <setting name="TabIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="CMD_Port" serializeAs="String">
        <value>6011</value>
      </setting>
      <setting name="WEB_Port" serializeAs="String">
        <value>6023</value>
      </setting>
      <setting name="PicturePath" serializeAs="String">
        <value />
      </setting>
    </GridBackGround.Config.SettingsForm>
    <GridBackGround.SettingsForm>
      <!--报文栏行数-->
      <setting name="DisPackNum" serializeAs="String">
        <value>1000</value>
      </setting>
      <!--解析栏行数-->
      <setting name="DisReportNum" serializeAs="String">
        <value>1000</value>
      </setting>
      <!--程序运行模式：Socket——网口，SerialPort——串口-->
      <setting name="ComMode" serializeAs="String">
        <value>Socket</value>
      </setting>
    </GridBackGround.SettingsForm>
  </userSettings>
</configuration>
